{% extends "news/base.html" %}
	{% block title %}{{post.titulo}} - Mateus Bezerra{% endblock %}
	
	{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">{{post.titulo}}</h1>
        <p class="lead">Por {{post.autor}}.</p>
      </div>
    </div>
    {% endblock %}
    {% block content %}
    <div class="container">
    	<p style="font-size: 15pt;max-width: 900px;margin:0px auto; ">{{post.conteudo}}</p>
    </div>
    {% endblock %}


